html, body {
    font-family: 'BloodyMurder BB';
}

.homeIcon-r0w4ny {
    display: none;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub {
    background-color: transparent;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub:before {
    position: absolute;
    content: " ";
    width: 45px; /* Change size if needed */
    height: 45px; /* Change size if needed */
    background-image: url('https://saberslay.github.io/saberslay/BetterDiscordAddon/Themes/BloodyMurder/BM_Logo.png'); /* Replace the link, with your image link */
    background-size: contain;
}